body {
    margin:0;
}
header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px; 
    position:fixed; 
    left:0;
    right:0;
    top:0;
}
header .logo {
    font-size:25px;
    font-weight:bold;
}
header .menu {
    width:40px;
    height:30px;
    display:inline-flex;
    flex-direction:column;
    justify-content:space-between;
}
header .menu-line {
    height:3px;
    background-color:#333;
    
}
.container {
    display:flex;
    height:100vh;
}
.container .leftside{
    flex:1;
    background-color:#3b576d;
    display:flex;
    align-items:center;
}
.container .rightside {
    flex:1;
    background-image: url('../images/hero.jpg');
    background-size:cover;
    background-position:center top;
}
.container .info {
    color:#fff;
    padding-left:50px;
}
.container .info .profession {
    font-size:20px;
    font-weight:bold;
    text-transform:uppercase;
}
.container .info .name {
    font-size:70px;
    font-weight:bold;
    text-transform:uppercase;
    margin-top:30px;
    margin-bottom:30px;
}
.container .info .buttons a {
    display:inline-block;
    background-color:#fff;
    color:#3b576d;
    text-decoration:none;
    font-size:18px;
    padding:20px 40px;
    text-transform:uppercase;
    font-weight:bold;
    box-shadow: 0px 0px 10px #333;
    border:2px solid #3b576d;
    border-radius:8px;
}
.container .info .buttons a:hover {
    display:inline-block;
    background-color:#3b576d;
    color:#fff;
    text-decoration:none;
    font-size:18px;
    padding:20px 40px;
    text-transform:uppercase;
    font-weight:bold;
    border:2px solid #fff;
}
footer {
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    color:#fff;
    text-transform:uppercase;
    font-size:13px;
    padding-bottom:25px;
    padding-left:20px;
}
footer a {
    text-decoration:none;
    color:#999;
}

@media (min-width:426px) and (max-width:850px) {
    header {
        position:initial;
        background-color:#3b576d;
        color:#fff;
        border-bottom:1px solid #fff;
        padding-bottom:20px;
    }
    .leftside {
        padding-top:20px;
    }
    header .menu-line {
        background-color:#fff;
    }
    .container {
        display:flex;
        flex-direction: column;
    }
    .container .leftside{
        flex:none;
        padding-bottom:30px;
        justify-content:center;
        text-align:center;
    }
    .container .leftside .info {
        padding-left:0;
    }
    .container .rightside {
        height:100%;
    }
    footer {
        position:initial;
        background-color:#3b576d;
        padding-top:30px;
    }
}
@media (max-width:425px) {
    header {
        position:initial;
        background-color:#3b576d;
        color:#fff;
        border-bottom:1px solid #fff;
        padding-bottom:20px;
    }
    header .menu-line {
        background-color:#fff;
    }
    .leftside {
        padding-top:20px;
    }
    .container {
        display:flex;
        flex-direction: column;
    }
    .container .leftside{
        flex:none;
        padding-bottom:30px;
        justify-content:center;
        text-align:center;
    }
    .container .leftside .info {
        padding-left:0;
    }
    .container .leftside .info .name {
        font-size:50px;
    }
    .container .leftside .info .buttons a{
        display:block;
        padding:10px;
    }
    .container .rightside {
        height:100%;
    }
    footer {
        position:initial;
        background-color:#3b576d;
        padding-top:30px;
    }
}